* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

/* Sizes */
/* Font Weights */
@font-face {
  font-family: "light italic";
  src: url("../src/assets/fonts/Karla-LightItalic.ttf"), local("Courier");
  font-display: swap;
}
@font-face {
  font-family: "extra light";
  src: url("../src/assets/fonts/Karla-ExtraLight.ttf"), local("Courier");
  font-display: swap;
}
@font-face {
  font-family: "regular";
  src: url("../src/assets/fonts/Karla-Regular.ttf"), local("Courier");
  font-display: swap;
}
@font-face {
  font-family: "medium";
  src: url("../src/assets/fonts/Karla-Medium.ttf"), local("Courier");
  font-display: swap;
}
@font-face {
  font-family: "bold";
  src: url("../src/assets/fonts/Karla-Bold.ttf"), local("Courier");
  font-display: swap;
}
@font-face {
  font-family: "extra bold";
  src: url("../src/assets/fonts/Karla-ExtraBold.ttf"), local("Courier");
  font-display: swap;
}
@font-face {
  font-family: "logo";
  src: url("../src/assets/fonts/UnicaOne-Regular.ttf"), local("Courier");
  font-display: swap;
}
/* Greys */
/* White */
/* Purple */
/* Pink */
/* Green */
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(1%);
  }
  to {
    opacity: 1;
  }
}
body {
  border: 2px solid rgba(0, 1, 42, 0.1);
  width: 1200px;
  font-family: "regular";
  font-size: 18px;
  color: #00012a;
  border-radius: 7px;
  box-shadow: 0 7px 14px 12px rgba(79, 74, 215, 0.1);
  margin: 48px 0;
}

main {
  display: flex;
  flex-flow: column wrap;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "bold";
  font-size: calc(2 *48px);
  text-transform: uppercase;
  line-height: calc(1.618*48px);
  max-width: 10ch;
}

h2 {
  font-family: "extra light";
  font-size: 36px;
  text-transform: capitalize;
}

h3 {
  font-family: "extra bold";
  font-size: 36px;
  text-transform: capitalize;
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: "logo";
  text-transform: uppercase;
}
.logo figure {
  display: flex;
  align-items: baseline;
  column-gap: 7px;
}

.btn {
  min-width: 120px;
  display: inline-flex;
  column-gap: 7px;
  justify-content: center;
  padding: 12px calc(2 *16px);
  border-radius: 7px;
  margin-top: 30px;
  text-transform: capitalize;
}

.primary-btn {
  background-color: #4f4ad7;
  color: #ffffff;
}
.primary-btn:hover {
  opacity: 0.9;
}

.secondary-btn {
  color: #4f4ad7;
  border: 2px solid #4f4ad7;
}
.secondary-btn:hover {
  background-color: #4f4ad7;
  color: #ffffff;
}

nav,
.hero,
.services,
.about-us,
.community,
.privacy-policy,
footer {
  padding: 48px;
  display: flex;
  flex-flow: row wrap;
}

nav {
  justify-content: space-between;
  flex: 1 0 100%;
}
nav span {
  display: none;
}
nav ul {
  display: flex;
  column-gap: 48px;
  list-style-type: none;
  align-items: center;
}
nav ul li a {
  text-transform: capitalize;
  color: #00012a;
}
nav ul li a:focus, nav ul li a:hover {
  color: #4f4ad7;
}
nav ul li:last-of-type {
  display: none;
}
nav a[class="btn primary-btn"] {
  margin-top: 0;
}

.hero {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}
.hero article {
  flex: 0 0 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  position: relative;
}
.hero article:first-of-type {
  width: 50%;
}
.hero article:first-of-type span {
  font-size: 48px;
  font-family: "extra light";
}
.hero article:first-of-type p {
  font-size: calc(2 *48px);
  font-family: "extra light";
  color: #4f4ad7;
}
.hero article:first-of-type span,
.hero article:first-of-type p {
  text-transform: uppercase;
}
.hero article:last-of-type {
  width: 50%;
}
.hero article:last-of-type div div {
  width: 800px;
  position: absolute;
  left: -150px;
  top: -50px;
  z-index: -1;
}

.services {
  display: flex;
  justify-content: space-between;
  row-gap: calc(3 *60px);
  margin: calc(3 *60px) 0 0 0;
}
.services article {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  column-gap: 48px;
  flex: 0 0 45%;
}
.services article:nth-of-type(2n + 1) div {
  display: inline-flex;
  align-items: center;
  column-gap: 14px;
}
.services article:nth-of-type(2n + 1) div span {
  flex: 1 1 0;
  background-color: #4f4ad7;
  height: 2px;
}
.services article:nth-of-type(2n + 1) ul {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  row-gap: 12px;
  font-family: "extra light";
}
.services article:nth-of-type(2n + 1) ul li {
  display: inline-flex;
  column-gap: 7px;
}
.services article:nth-of-type(2n + 1) a[class="btn secondary-btn"] {
  align-self: flex-start;
}
.services article:nth-of-type(2n) img {
  width: 450px;
  height: 283px;
  box-shadow: 7px 0 60px 7px rgba(79, 74, 215, 0.3);
  border-radius: 14px;
}
.services article:nth-of-type(3) {
  order: 3;
}

.pricing {
  display: flex;
  flex-flow: column wrap;
  row-gap: 60px;
  margin: calc(3 *60px) 0 0 0;
  overflow-x: scroll;
  overflow-y: hidden;
}
.pricing article {
  display: flex;
}
.pricing article:first-of-type {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
.pricing article:first-of-type p {
  font-family: "medium";
  font-size: 30px;
  text-transform: uppercase;
}
.pricing article:first-of-type div {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  width: 100%;
}
.pricing article:first-of-type div input {
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
}
.pricing article:nth-of-type(2) {
  padding: 0 48px 48px 48px;
  justify-content: space-between;
}
.pricing article:nth-of-type(2) a {
  all: unset;
  flex: 0 0 350px;
  transition: all 0.3s;
}
.pricing article:nth-of-type(2) a div {
  cursor: pointer;
  opacity: 0;
  padding: 30px 30px 60px 30px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 14px;
  border: 2px solid #4f4ad7;
  border-radius: 7px;
}
.pricing article:nth-of-type(2) a div h3 {
  display: flex;
  column-gap: 7px;
}
.pricing article:nth-of-type(2) a div p {
  font-family: "bold";
  font-size: 36px;
  color: #4f4ad7;
}
.pricing article:nth-of-type(2) a div p span {
  color: #00012a;
  font-size: 20px;
}
.pricing article:nth-of-type(2) a div ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 12px;
  border-top: 2px solid #efefef;
  padding-top: 48px;
}
.pricing article:nth-of-type(2) a div ul li {
  display: inline-flex;
  align-items: flex-end;
  column-gap: 7px;
}
.pricing article:nth-of-type(2) a div ul li[plan=inc] {
  font-family: "regular";
}
.pricing article:nth-of-type(2) a div ul li[plan=notInc] {
  font-family: "extra light";
}
.pricing article:nth-of-type(2) a div a[class="btn secondary-btn"] {
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  align-self: flex-end;
  margin: auto 0;
}
.pricing article:nth-of-type(2) a div a[class="btn secondary-btn"]:hover {
  background-color: #4f4ad7;
  color: #ffffff;
}
.pricing article:nth-of-type(2) a:hover {
  transform: translateY(-30px);
  box-shadow: 0 0 60px 7px rgba(79, 74, 215, 0.2);
}

.plan-active {
  border: none;
  border-bottom: 5px solid #4f4ad7;
  font-family: "bold";
}

.plan-inactive {
  border: none;
  border-bottom: 5px solid transparent;
  font-family: "regular";
}

.short-form {
  background-color: rgba(79, 74, 215, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.short-form h3 {
  color: #4f4ad7;
}
.short-form div {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 12px;
}
.short-form div p {
  max-width: 28ch;
  font-size: 30px;
  font-family: "extra light";
}
.short-form div p::first-letter {
  text-transform: capitalize;
}
.short-form div p span {
  font-family: "bold";
  text-transform: capitalize;
}
.short-form div form {
  display: flex;
  flex-flow: row wrap;
  width: 300px;
  border-bottom: 2px solid rgba(0, 1, 42, 0.2);
}
.short-form div form input {
  font-family: "bold";
  font-size: 20px;
  padding: 12px;
  outline: none;
  border: none;
}
.short-form div form input[type=email] {
  flex: 0 0 90%;
  background-color: transparent;
}
.short-form div form input[type=email]:disabled {
  cursor: not-allowed;
}
.short-form div form button[type=submit] {
  flex: 0 0 auto;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 30px;
  color: #4f4ad7;
  transition: all 0.3s;
  background-color: transparent;
}
.short-form div form button[type=submit]:hover {
  transform: rotate(45deg);
}
.short-form div form button[type=submit]:disabled {
  background-color: transparent;
  color: #4f4ad7;
  cursor: not-allowed;
}
.short-form div form button[type=submit]:disabled:hover {
  transform: none;
}
.short-form div form button[type=submit] div {
  align-items: center;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #4f4ad7;
  color: #ffffff;
  column-gap: 48px;
}
.about-us h2 {
  font-family: "extra bold";
}
.about-us article {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  opacity: 0;
}
.about-us article:first-of-type {
  row-gap: 20px;
}
.about-us article:first-of-type p {
  max-width: 35ch;
  font-family: "extra light";
}
.about-us article:first-of-type a[class="btn secondary-btn"] {
  color: #ffffff;
  border-color: #ffffff;
  align-self: flex-start;
}
.about-us article:first-of-type a[class="btn secondary-btn"]:hover {
  filter: brightness(1.5);
}
.about-us article:last-of-type img {
  width: 350px;
  height: 353px;
  margin-bottom: -80px;
  z-index: 1;
}

.community {
  padding-top: 150px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse;
}
.community article {
  display: flex;
  flex-flow: column wrap;
  opacity: 0;
}
.community article a[class="btn secondary-btn"] {
  align-self: flex-start;
}
.community article:first-of-type {
  row-gap: 20px;
}
.community article:first-of-type p {
  width: 35ch;
  font-family: "extra light";
}
.community article:last-of-type div {
  width: 450px;
  margin-bottom: -90px;
}

footer {
  display: flex;
  justify-content: space-between;
  row-gap: 48px;
  background-color: #00012a;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: #ffffff;
}
footer article {
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 40%;
}
footer article:first-of-type {
  row-gap: 20px;
}
footer article:nth-of-type(2) {
  align-items: flex-end;
  justify-content: flex-end;
  row-gap: 7px;
}
footer article:nth-of-type(2) p {
  font-size: 14px;
}
footer article:nth-of-type(2) a {
  color: #ffffff;
}
footer article:last-of-type {
  flex: 0 0 100%;
  flex-flow: row wrap;
  justify-content: stretch;
  color: rgba(255, 255, 255, 0.7);
  column-gap: 16px;
  font-size: 14px;
}
footer article:last-of-type ul {
  display: inline-flex;
  flex-flow: row wrap;
  list-style-type: none;
  flex: 1 1 auto;
  column-gap: 7px;
}
footer article a {
  all: unset;
  cursor: pointer;
}
footer article a:hover {
  color: #ffffff;
}

.contact-form {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  color: #ffffff;
}
.contact-form label {
  display: inline-flex;
  row-gap: 7px;
  flex-flow: column nowrap;
  text-transform: capitalize;
  font-family: "extra light";
  font-size: 16px;
}
.contact-form input,
.contact-form textarea {
  transition: border-color 0.3s;
  font-family: "regular";
  font-size: 18px;
  color: #ffffff;
  outline: none;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #ffffff;
}
.contact-form input {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  padding-bottom: 7px;
}
.contact-form input:focus {
  border-bottom-color: #ffffff;
}
.contact-form textarea {
  resize: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  padding: 14px;
}
.contact-form textarea:focus {
  border-color: #ffffff;
}
.contact-form button[type=submit] {
  align-self: flex-end;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "regular";
  font-size: 18px;
  background-color: #4f4ad7;
  cursor: pointer;
  border: none;
  padding: 14px;
  border-radius: 7px;
  color: #ffffff;
  width: 48px;
  height: 48px;
}
.contact-form button[type=submit]:hover {
  filter: brightness(1.5);
}
.contact-form button[type=submit]:hover svg {
  transition: all 0.3s;
}
.contact-form button[type=submit]:disabled {
  background-color: #3fe6b6;
  filter: unset;
  color: #00012a;
  cursor: not-allowed;
}

.privacy-policy {
  display: flex;
}
.privacy-policy article {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
}
.privacy-policy article h2 {
  display: inline-flex;
  flex-flow: column nowrap;
}
.privacy-policy article h2 span {
  font-size: 16px;
}
.privacy-policy article h3 {
  font-size: 20px;
  font-family: "medium";
}
.privacy-policy article ol {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
}
.privacy-policy article ol li {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 14px;
}
.privacy-policy article ol li ol {
  row-gap: 7px;
  margin-left: 18px;
}
.privacy-policy article ol li ol li {
  flex-flow: row wrap;
}
.privacy-policy article ol li ol li::before {
  content: "-";
}
.privacy-policy article p {
  max-width: 60ch;
}
.privacy-policy article a {
  color: #4f4ad7;
}

.animate {
  animation: fadeInBottom 0.5s ease-in 0.5s forwards;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) {
  body {
    margin: 0;
    border-radius: 0;
    border: none;
  }
  nav,
  .hero,
  .services,
  .privacy-policy {
    padding: 30px;
  }
  nav ul {
    column-gap: 30px;
  }
  .hero {
    height: 700px;
    overflow: unset;
  }
  .hero article {
    flex: 0 0 100%;
  }
  .hero article:last-of-type div div {
    width: 700px;
    left: unset;
    right: 0;
    bottom: -250%;
    top: unset;
  }
  .services {
    justify-content: center;
    row-gap: 60px;
  }
  .services article {
    flex: 0 0 60%;
  }
  .services article:nth-of-type(2n) {
    padding-bottom: calc(3 * 60px);
  }
  .services article:nth-of-type(3) {
    order: unset;
  }
  .pricing article:nth-of-type(2) {
    column-gap: 14px;
    overflow: scroll;
    padding: 60px 30px 60px 30px;
  }
  .pricing article:nth-of-type(2) a {
    flex: 0 0 300px;
  }
  .pricing article:nth-of-type(2) a:hover {
    transform: none;
  }
  .short-form {
    padding: 48px 0;
  }
  .short-form div:first-of-type {
    width: 250px;
  }
  .about-us {
    row-gap: 48px;
  }
  .about-us article:last-of-type img {
    width: 300px;
  }
  .community article:last-of-type div {
    width: 300px;
    margin-bottom: -200px;
  }
  footer {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  footer article:first-of-type {
    flex: 0 0 60%;
  }
}
@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  body {
    margin: 0;
    border-radius: 0;
    border: none;
  }
  nav,
  .hero,
  .services,
  .about-us,
  .community,
  .privacy-policy,
  footer {
    padding: 14px;
  }
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  h2 {
    font-size: 30px;
  }
  nav {
    padding: 14px;
    row-gap: 16px;
  }
  nav span {
    display: inline-flex;
  }
  nav ul {
    flex: 0 0 100%;
    flex-flow: column nowrap;
    row-gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.3s;
    height: 0;
    overflow: hidden;
  }
  nav ul li:last-of-type {
    display: inline;
  }
  nav a[class="btn primary-btn"] {
    display: none;
  }
  .toggle-menu {
    height: 180px;
  }
  .hero {
    height: 600px;
  }
  .hero article {
    flex: 0 0 100%;
  }
  .hero article:first-of-type span {
    font-size: 30px;
  }
  .hero article:first-of-type p {
    font-size: 48px;
  }
  .hero article:last-of-type div div {
    width: 400px;
    left: -15%;
    right: unset;
    bottom: -50%;
    top: unset;
  }
  .services {
    row-gap: 60px;
  }
  .services article {
    flex: 0 0 100%;
  }
  .services article:nth-of-type(2n) {
    padding-bottom: calc(3 * 60px);
    align-items: center;
  }
  .services article:nth-of-type(2n) img {
    width: 250px;
    height: 157px;
    box-shadow: 0 7px 60px 7px rgba(79, 74, 215, 0.3);
    border-radius: 12px;
  }
  .services article:nth-of-type(3) {
    order: unset;
  }
  .pricing {
    margin: 48px 0 0 0;
  }
  .pricing article:first-of-type p {
    font-size: 20px;
  }
  .pricing article:nth-of-type(2) {
    width: 100vw;
    padding: 0 14px 48px 14px;
    overflow-x: scroll;
    justify-content: flex-start;
    column-gap: 14px;
  }
  .pricing article:nth-of-type(2) a {
    flex: 0 0 250px;
  }
  .pricing article:nth-of-type(2) a div {
    padding: 20px 20px 60px 20px;
  }
  .pricing article:nth-of-type(2) a div h3 {
    font-size: 30px;
  }
  .pricing article:nth-of-type(2) a div p {
    font-size: 30px;
  }
  .pricing article:nth-of-type(2) a:hover {
    transform: none;
    box-shadow: none;
  }
  .short-form {
    padding: 60px 14px;
    flex-flow: column wrap;
  }
  .short-form div {
    align-items: center;
  }
  .short-form div:first-of-type {
    width: 150px;
  }
  .short-form div p {
    font-size: 20px;
    text-align: center;
  }
  .short-form div h3 {
    font-size: 30px;
  }
  .short-form div form {
    width: 90vw;
    justify-content: space-between;
  }
  .short-form div form input {
    padding: 14px 0;
    font-size: 18px;
  }
  .short-form div form input[type=email] {
    flex: 0 0 80%;
  }
  .short-form div form div {
    max-width: 18px;
  }
  .short-form div form svg {
    width: 20px;
  }
  .about-us {
    padding-top: 60px;
    row-gap: 48px;
  }
  .about-us article:first-of-type p {
    width: 250px;
  }
  .about-us article:last-of-type img {
    width: 250px;
    height: 252px;
  }
  .community {
    flex-flow: column nowrap;
    padding-top: 150px;
  }
  .community article:first-of-type p {
    width: 250px;
  }
  .community article:last-of-type div {
    width: 250px;
    margin-bottom: -40px;
  }
  footer {
    padding-top: 60px;
    flex-flow: column wrap;
    justify-content: space-between;
    row-gap: 60px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  footer article:nth-of-type(2) {
    align-items: center;
  }
  footer article:last-of-type {
    align-items: center;
    row-gap: 14px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=App.css.map */
